/**al additions**/
/* #intro_box { */
	/* position: absolute; */
	/* max-width: 600px;  */
	/* max-height: 400px;  */
	/* width: 600px;  */
	/* height: 400px;  */
	/* max-width: 95%; */
	/* max-height: 95%; */
	/* margin: auto; */
     /* top: 0; */
     /* right: 0; */
     /* bottom: 100px; */
     /* left: 0; */
	/* background-color: #008bdb;  */
	/* color: white;  */
	/* border-radius: 20px; */
	/* text-align: center;  */
	/* box-shadow: 0px 0px 30px 30px #008bdb;  */
	/* color: white; }		 */

.theme--grey .progressbar {
	background-color: grey;
	color: #1a1a1a; }
	
.theme--grey .progressbar[value]::-webkit-progress-bar {
background-color: grey; }

.theme--grey .progressbar[value]::-webkit-progress-value {
background-color: #1a1a1a; }

.theme--grey .progressbar[value]::-moz-progress-bar {
background-color: #1a1a1a; }

.nav__list--secondary > .nav__item.is-current {
  background-color: black; }	

  .nav__list--primary > .nav__item:not(.expandable).is-current {
    background-color: #242424; }
	
  .nav__list--primary > .nav__item .nav__link:hover {
    background-color: #242424; }	
  
  .tag {
	margin-bottom: 0px;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 12px;
  }
  
  .progressbar {
	  height: 8px;
  }
@font-face { 
	font-family: BerninaSans; 
	src: url(BerninaSans-Web-Regular.woff); 
}	 
	
#intro_box {
	position: fixed;
	max-width: 600px;
	/* max-height: 450px;  */
	width: 600px;
	height: 450px;
	max-width: 95%;
	/* max-height: 95%; */
	margin: auto;
     top: -170px;
     right: 0;
     bottom: 0;
     left: 0;
	background-color: #008bdb;
	color: white;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0px 0px 30px 30px #008bdb;
	color: white; }

#content_box {
	position: fixed;
	width: 400px;
	height: 300px;
	max-width: 95%;
	max-height: 95%;
	margin: auto;
     top: -30%;
     right: 0;
     bottom: 0;
     left: 0;
	color: white; }

#content_box_admin {
	/* position: fixed; */
	width: 400px;
	height: 300px;
	max-width: 95%;
	max-height: 95%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	color: white; }

.inner_box {
	background-color: #008bdb;
	color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 30px 30px #008bdb;  }

#intro_box h1 {
	font-size: 60px;
}



/* #userId { */
	/* width: 350px;  */
	/* height: 50px;  */
	/* font-size: 1.3em; */
/* } */

.bigInput {
	width: 350px;
	height: 50px;
	font-size: 1.3em;
}

.mediumInput {
	width: 350px;
	height: 40px;
	font-size: 1.2em;
}

.signup {
	width: 172px;
	display: inline-block;
	height: 50px;
	font-size: 1.3em;
}

#password {
	width: 350px;
	height: 50px;
	font-size: 1.3em;
}

#intro_box_submit {
	width: 350px;
	height: 40px;
	font-size: 1.3em; }

#landing_box_submit {
	width: 375px;
	max-width: 100%;
	height: 40px;
	font-size: 1.3em;
	padding-left: 0px;
	padding-right: 0px}

#landing_box {
	position: absolute;
	max-width: 500px;
	max-height: 400px;
	width: 580px;
	height: 400px;
	max-width: 95%;
	max-height: 95%;
	margin: auto;
     top: 0;
     right: 0;
     bottom: 100px;
     left: 0;
	background-color: #008bdb;
	color: white;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0px 0px 30px 30px #008bdb;
	color: white; }

@font-face {
	font-family: BerninaSansLight;
	src: url(BerninaSans-Web-Light.woff);
}

.main-content {
	width: 100%;
	height: 100%; }

.welcome-title {
	font-size: 3em; }

.bva-select {
	max-width: 67%;
	height: 50px;
	font-size: 1em;
	display: inline-block;}

.landing-bva-button {
	display: inline-block;
	width: 14%;
	/* max-width: 25%;  */
	height: 50px;
	padding: 10px;
	margin-bottom: 2px;
	margin-left: 2px;
	/* font-size: 1em;	 */
}

.landing-button {
	display: inline-block;
	width: 198px;
	max-width: 49%;
	height: 40px;
	font-size: 1em; }

.reset-button {
	display: inline-block;
	width: 172px;
	/* max-width: 45%;  */
	height: 40px;
	font-size: 1em; }

.landing-body {
	background-image: url(/static/welcome-background.svg);
	background-size: cover;
	background-color: #008bdb; }

.bva-body {
	background-color: #f2f2f2; }

.bva-progress {
	width: 100%; }

.bva-button-wrapper {
	width: 30%;
	display: inline-block;
	text-align: center;
	margin-bottom: 20px; }

.bva-progress-button {
	height:75px;
	width: 75px; }

.bva-progress-button-rotate {
	transform: rotate(180deg); }

.bva-content-column {
	background-color: white;
	margin-bottom: 20px;
	border-radius: 5px;
	}


.bva-content {
	margin-left: 20px;
	margin-right: 20px;
	min-height: 90%; }

.bva-title-wrapper {
	color: white;
	width: 100%;
	height: 105px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat; }

.bva-title-wrapper-biz {
	background-image: url(/static/biz.svg);
	background-size: 100px 100px;
	background-color: #9355b7;  }
	
.se-title-wrapper-biz {
	background-color: #9355b7;  }	

.bva-title-wrapper-ops {
	background-image: url(/static/ops.svg);
	background-size: 100px 100px;
	background-color: #73be28;  }
	
.se-title-wrapper-ops {
	background-color: #73be28;  }	

.bva-title-wrapper-dev {
	background-image: url(/static/dev.svg);
	background-size: 100px 100px;
	background-color: #1496ff;  }
	
.se-title-wrapper-dev {
	background-color: #1496ff;  }	

.bva-title-wrapper-options {
	background-image: url(/static/options.svg);
	background-size: 100px 100px;
	background-color: #1a1a1a;  }

.se-title-wrapper-options {
  background-color: #1a1a1a;  }  



.bva-title-wrapper-inner {
	position: absolute;
	margin-top: 10px ;
	margin-left: 20px;
	max-width: 70%; }

.bva-result-title-wrapper-inner {
	position: absolute;
	margin-top: 10px ;
	margin-left: 100px;}	

.bva-title-text {
	margin-bottom: 0px;
	max-width: 100px; }

.bva-result-title-text {
	margin-bottom: 0px;
	max-width: 100px; }	
	
.se-title-text {
	margin-bottom: 0px;
	max-width: 90%; }	

.bva-progress-wrapper {
	width: 40%;
	display: inline-block;
	vertical-align:top;
	margin-top: 15px; }

.bva-all-question-wrapper {
	padding-bottom: 20px;
	color: black;
	width: 100%; }

.bva-question-wrapper {
	margin: 0 auto;
	width: 420px;
	max-width: 100%;
	padding-left: 10px;
	padding-right: 10px; }
	

.bva-question-image {
	max-height: 15%;
	max-width: 15%;
	display:inline-block;
	vertical-align:middle; }
	
.se-question-image {
	max-height: 50px;
	max-width: 50px;
	display:inline-block;
	vertical-align:middle; }	
	
.se-question-image-small {
	max-height: 25px;
	max-width: 25px;
	display:inline-block;
	vertical-align:middle; }		

.bva-question-block {
	display:inline-block;
	width: 340px;
	max-width: 82%;
	margin-left: 16%; }

.bva-input-wrapper {
	display:inline-block;
	width: 340px;
	max-width: 82%; }

.bva-question-text {
	font-size: 1em;
	display: inline-block; }

.bva-question-input {
	height: 50px;
	font-size: 1.3em;
	display: inline-block }

.bva-question-top {
	margin-top: 15px; }

.bva-question-existing-label {
	font-size: 1em;
	display: inline-block;
	width: 100%; }

.bva-question-exsiting-input {
	height: 50px;
	font-size: 1.3em;
	display: inline-block;
	width: 32%; }

.bva-question-existing-wrapper {
	display:inline-block;
	width: 340px;
	max-width: 82%;
	margin-left: 16%; }

.bva-question-existing-add {
	height: 50px;
	width: 100%;
	font-size: 1.3em; }

.bva-question-centre {
	margin: 0 auto; }

.bva-question-text-centre {
	text-align: center; }

.bva-existing-delete {
	margin-top: 20%;
	width: 50%;
	height: 50%;
	text-align: center;
	vertical-align: middle; }

.bva-progress-grey {
	background-color: #1a1a1a;
	color: #1a1a1a;	}

.status-failure {
	display: none;
	color: white;
	background-color: #1a1a1a;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 350px;
	text-align: center;}

.status-ie {
	display: none;
	color: white;
	background-color: #1a1a1a;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	width: 350px;
	text-align: left;}

.status-success {
	display: none;
	color: white;
	background-color: #1a1a1a;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 350px;
	text-align: center;}

.share-success {
	display: none;
	color: white;
	background-color: #1a1a1a;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 350px;
	text-align: center;}

.share-failure {
	display: none;
	color: white;
	background-color: #1a1a1a;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 350px;
	text-align: center;}

.biz {
	position: absolute;
	width: 100%;}

.ops {
	position: absolute;
	width: 100%;
	display: none;}

.dev {
	position: absolute;
	width: 100%;
	display: none;}

.options {
	position: absolute;
	width: 100%;
	display: none;	}

.result-biz {
	position: absolute;
	background-color: #9355b7;}

.result-ops {
	position: absolute;
	display: none;
	background-color: #73be28}

.result-dev {
	position: absolute;
	display: none;
	background-color: #1496ff;}

.result-options {
	position: absolute;
	display: none;
	background-color:#1a1a1a;	}

#confirmDelete {
	display: none;
}

.searchResult {
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	background-color:#007DC5;
	padding: 15px;
}

.searchResultSe {
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	background-color:#007DC5;
	padding: 15px;
  display: inline-block;
}

.result-block {
	display: inline-block;
	width: 32%;
	max-width: 32%;
	text-align: center;
}

.currency-result {
	max-width: 40px;
	width: 40px;
	height: 40px;
	display: inline-block;
	font-size: 1.2em
}

.pricing-result {
	height: 40px;
	font-size: 1.2em;
	transform: translate(0, 2px)
}

.add-button {
	padding: 0px;
	height: 40px;
	font-size: 1.2em;
	width: 50px
}

.sfdc-result {
	max-width: 80%;
	width: 80%;
	height: 40px;
	display: inline-block
}

.sfdc-link {
	max-width: 18%;
	width: 18%;
	display: inline-block;
	height: 40px;
	padding: 0px;
	margin-top: 2px
}

.incorrect-password {
	width: 350px;
	margin-left: 50%;
	margin-right: 50%;
	transform: translate(-50%);
}

.white {
	color: white;
	text-decoration-color:white;
}

.signup-forgot {
	display: inline-block;
	text-align: right;
	width: 350px;
	color: white
}

.white:hover {
	color: white;
	text-decoration: underline;
}

.centre {
	text-align: center;
}

.menu-box {
	display: inline-block;
	text-align: left;
	width: 350px
}

.menu-title {
	font-size: 2.5em;
}

.landing-box {
	display: inline-block;
	text-align: left;
	width: 400px;
	max-width: 95%
}

.landing-logout {
	text-align: right;
	max-width: 100%
}

.edit-company {
	display: inline-block;
	width: 70%
}

.edit-currency {
	display: inline-block;
	width: 28%;
	height: 50px;
	font-size: 1.2em
}

.delete-container {
	position: relative;
	width: 400px;
	height: 50px;
}

.delete-button {
	width: 350px;
	background-color: red;
	position: absolute;
}

.absolute {
	position: absolute;
}

.red {
	background-color: red;
}

.create-company	{
	display: inline-block;
	width: 60%
}

.create-currency {
	display: inline-block;
	width: 38%;
	height: 50px;
	font-size: 1.2em
}

.search-email {
	max-width: 290px;
	display: inline-block
}

.search-button {
	max-width: 50px;
	display: inline-block
}

.leftContainer {
	position: relative;
	height: 964px;
}

.pricing-text {
	text-align: left;
	max-width: 420px
}

.pricing-text-gap {
	width: 25%;
	max-width: 25%;
	display: inline-block
}

.pricing-text-header {
	width: 33%;
	max-width: 33%;
	display: inline-block
}

.year-header {
	width: 15%;
	max-width: 15%;
	display: inline-block;
	margin-top: 0px
}

.pricing-input {
	width: 41%;
	max-width: 42%;
	display: inline-block
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

.underline {
    border-bottom: 1px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: white;
    color: black;
    text-align: left;
    padding: 10px;
    border-radius: 6px;

    border: 1px solid #00a1b2;
    top: -5px;
    right: 105%;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10;
}

.tooltip .tooltiptext_results {
    visibility: hidden;
    width: 500px;
    background-color: white;
    color: black;
    text-align: left;
    padding: 10px;
    border-radius: 6px;

    border: 1px solid #00a1b2;
    top: -5px;
    right: 105%;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:hover .tooltiptext_results {
    visibility: visible;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	/* border: 1px solid #999999; */
	display: table-cell;
	padding: 3px 10px;
	/*text-align: center; */
	position: relative;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.se-radio {
	position: absolute;
	left: 50%;
	margin-right: 50%;
	top: 50%;
	margin-bottom: 50%;
	transform: translate(-50%, -50%);
}

.se-center {
	text-align: center;
}

.se-center-more {
	transform: translate(10px);
}

.se-width {
	width: 110px;
}

.se-row-grey {
	background-color: rgb(250,250,250);
}

.se-progress {
	width: 160px;
}

.se-big-text {
	font-size: 2em;
}

.se-small-text {
	font-size: 0.8em;
}

.infochip-se {
	margin-right: 0px;
	display: block;
}

.expandable__trigger:before {
	background-image: url(/static/dropdown_white.png);
}
